 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello! I am an aspiring Robotics Engineer. At the moment, I am studying Robotics Engineering at the University of California Santa Cruz.</p>
                </div>
                <div class="col-lg-4">
                    <p>Internships, projects.</p>
                </div>
            </div>
        </div>
    </section>
